EXPO_PUBLIC_OPSVISTA_API_URL=https://restaurant-support.vercel.app
EXPO_PUBLIC_SUPABASE_URL=https://xdttojrtosubyjunatlt.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lXRiwPnoaeXTr3kQ2Qk4DQ_5yDlM5m-
